<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lib Space 1-desktop/src/gr/ls1/desktop/DesktopLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gr.ls1.desktop.DesktopLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lib Space 1-desktop"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Lib Space 1-android/assets}"/>
</launchConfiguration>
